<!DOCTYPE html>
<html>

        <head>
            <title class="text-center">Major Project</title>
            <!--meta tags -->
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <!--//meta tags ends here-->
            <!--booststrap-->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <!--//booststrap end-->
          
            <!-- font-awesome icons -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
              integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
              crossorigin="anonymous" />
            <!-- //font-awesome icons -->
          
            <!--stylesheets-->
            <link href="../static/styles/style.css" rel='stylesheet' type='text/css' media="all">
            <!--//stylesheets-->
          
          </head>
        
    <body>
        <div class="main-top text-center" id="home">
            <!-- header -->
            <div class="headder-top text-center ">
              <!-- nav -->
              <nav>
                <div class="text-center" id="logo" >
                  <h1 ><a href="index.html">Major Project</a></h1>
                </div>
                <!-- <label for="drop" class="toggle">Menu</label>
                <input type="checkbox" id="drop">
                <ul class="menu mt-2">
                  <li class="active"><a href="#home">Home</a></li>
                  <li><a href="#about">About</a></li>
                  <li><a href="#features">Features</a></li>
                  <li><a href="#test">Detect</a></li>
                </ul> -->
              </nav>
              
              <!-- //nav -->
            </div>
            <div class="main-banner text-center">
                <div class="container">
                  <div class="style-banner">
                    <img src="../static/images/hmr.png" alt="news image" class="img-fluid" style="border-radius: 8px;">
                    <h4 class="mb-2">Sapling Cycle Assistant</h4>
                  </br>
                    <h5>Guided by :- Mr. Nitendra
                    </h5>
                    
                </br>
                    <form action="{{ url_for('home') }}" method="POST" enctype=multipart/form-data>
                        <div class="form-group text-center">
                          <button class="btn btn-success btn-lg" type="begin"> Begin Project </button>
                        </div>
                  </div>
                </br>
                  <div class="two-demo-button mt-md-4 mt-3">
                    <p> 
                        Made by :-
                    </br>
                    </br>
                        Palak Arora (01713302719)
                    </br>
                        Himanshi Rawat ()
                    </br>
                        Chetan Sharma ()
                    </br>
                        Prashant ()
                    </p>
                  </div>
                  <!-- <div class="two-demo-button mt-md-4 mt-3">
                    <p> Developing models for making disease detection easy and providing solutions for improving crop production
                    </p>
                  </div> -->
          
                </div>
            </div>
            
        </div>
        
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <footer>
            <div class="container pt-5 pb-3">
              <div class="footer-w3layouts-head text-center">
                <h2><a href="index.html">Sappling Cycle Assistant</a></h2>
              </div>
              <div class="bottem-wthree-footer text-center pt-md-4 pt-3">
                <p>
                  Guide:- Mr. Nitendra
                </p>
              </div>
              <!-- move icon -->
              <div class="text-center">
                <a href="#home" class="move-top text-center mt-3"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
              </div>
              <!--//move icon -->
            </div>
          </footer>
        
        <script src="" async defer></script>
    </body>
</html>